body {
  background: rgb(204,204,204);
}

page[size="A4"] {
  background: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  display: flex;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

div, li {
  vertical-align: top;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.period > time {
  display: block;
  text-align: right;
  &.date-end::before {
    content: ' - ';
  }
}

header.header-resume {
  margin-top: 20px;
  margin-left: 40px;
  & > h1 {
    text-transform: capitalize;
    margin: 0;
    font-weight: normal;
    & > strong {
      font-weight: bold;
    }
  }
  & > h2.subheader {
    margin: 0;
    font-weight: normal;
    & > ul > li {
      display: inline-block;
      &::before {
        content: '#';
      }
    }
  }
}

section > header > h1 {
  text-transform: capitalize;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-right: 1px solid black;
  & > div {
    margin-bottom: 100px;
    padding: 0 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

main {
  flex: 3;
  height: 100%;
  padding: 0 20px;
  vertical-align: top;
  & > section {
    margin-left: 80px;
    position: relative;
    .period {
      position: absolute;
      left: -80px;
      font-weight: bold;
    }
  }
}

section.skills > ul {
  display: flex;
  flex-flow: row wrap;
  & > li {
    width: 50%;
  }
}
.skillset {
  & > h2 {
    text-transform: capitalize;
  }
  .skill {
    display: inline-block;
    &::after {
      content: ', ';
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
