body {
  background: rgb(204,204,204);
}

page[size="A4"] {
  background: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  text-align: justify;
  box-sizing: border-box;
  color: #333;
  display: flex;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@font-face {
  font-family: Lanemar;
  src: url(assets/fonts/Lanemar.ttf);
}

a {
  text-decoration: none;
  color: inherit;
}

div, li {
  vertical-align: top;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  &.list-bullet > li {
    &:before {
      content: '- '
    }
    & > li {
      display: inline;
    }
  }
}

.section-work-experience, .section-education, .section-skills, .section-personal-projects {
  & > ol > li, & > ul > li {
    margin-bottom: 20px;
  }
}

.period > time {
  display: block;
  text-align: right;
  &.date-end::before {
    content: ' - ';
  }
}

header.header-resume {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  & > h1 {
    text-transform: capitalize;
    margin: 0;
    // font-family: "Neou-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-family: "Lanemar", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    & > strong {
      font-weight: bold;
    }
  }
  & > h2.subheader {
    margin: 0;
    font-weight: normal;
    text-transform: none;
    font-size: 1.2rem;
    & > ul > li {
      display: inline-block;
      &::before {
        content: '#';
      }
    }
  }
}

header, section > header > h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
}

aside {
  flex: 28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 0.7rem;
  background-color: rgb(42,42,42);
  color: white;
  text-align: right;
  & > section {
    margin-bottom: 100px;
    padding: 0 20px;
    & > ul > li {
      &:after {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4/x8AAwAB/2+Bq7YAAAAASUVORK5CYII=");
          background-repeat: repeat-x;
          content:' ';
          display:block;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: 0;
          width: 25px;
          height: 1px;
      }
      &:last-child {
        &:after {
          background-image: none;
        }
      }
      & > header {
       font-size: 0.7rem;
       text-transform: uppercase;
     }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

main {
  flex: 72;
  height: 100%;
  padding: 0 30px;
  vertical-align: top;
  & > section {
    margin-left: 60px;
    margin-bottom: 40px;
    position: relative;
    & > header {
      margin-bottom: 20px;
    }
    .period {
      position: absolute;
      width: 60px;
      left: -75px;
      font-weight: bold;
      text-align: right;
    }
  }
}

section.section-skills > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  & > li {
    width: 47%;
    text-align: left;
  }
}
.skillset {
  margin-bottom: 20px;
  & > header {
    font-size: 1rem;
  }
  &.general {
    & > ul > li {
      &:before {
        content: '- '
      }
    }
  }
  .skill {
    display: inline-block;
    &::after {
      content: ', ';
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.section-personal-projects {
  & > ul > li > header {
    font-size: 1rem;
  }
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
