body {
  background: rgb(204,204,204);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  line-height: 1.42857143;
}
main[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, main[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}


header h1 {
  text-transform: capitalize;
}

section h1 {
  text-transform: capitalize;
}
